<div class="form-container">
  <div class="form-title">Create project</div>
  
  <div class="error-message" *ngIf="error">
    {{ error }}
  </div>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="name">Project name:</label>
      <input id="name" formControlName="name" placeholder="Project name" />
    </div>

    <div class="form-field">
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description" placeholder="Project description"></textarea>
    </div>

    <div class="form-field">
      <label for="deadline">Deadline:</label>
      <input type="date" id="deadline" formControlName="deadline"/>
    </div>

    <button class="form-button" type="submit" [disabled]="form.invalid">Create</button>
  </form>

</div>