@model TaskManager.Domain.Models.Project

@if (ViewData.ModelState.ContainsKey("") && ViewData.ModelState[""].Errors.Count > 0)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState[""].Errors)
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}

<h1 class="mb-4 text-center">Create a new project</h1>

<form asp-action="Create" method="post" class="p-4 rounded shadow-sm bg-light" style="max-width:500px;margin:auto;">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label fw-bold">Name:</label>
        <input asp-for="Name" class="form-control" placeholder="Project name" />
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label fw-bold">Description:</label>
        <input asp-for="Description" class="form-control" placeholder="Project description" />
    </div>

    <div class="mb-3">
        <label asp-for="Deadline" class="form-label fw-bold">Deadline:</label>
        <input asp-for="Deadline" type="date" class="form-control" />
    </div>

    <button class="btn alert-info w-100 mt-3" type="submit">
        <i class="bi bi-pencil-square"></i> Create
    </button>
</form>