@model TaskManager.Domain.Models.Project

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}

<h1>Edit Project</h1>
<form asp-action="Edit" method="post">
    <div class="d-flex flex-column justify-content-between" style="height: 100px;">
        <input type="hidden" asp-for="Id" />
        <div>
            <label>Name:</label>
            <input asp-for="Name" />
        </div>
        <div>
            <label>Description:</label>
            <input asp-for="Description" />
        </div>
        <div>
            <label>Deadline:</label>
            <input asp-for="Deadline" type="date" class="form-control" />
        </div>
        <div>
            <button class="btn alert-info m-3" type="submit">Edit</button>
        </div>
    </div>
</form>