<div class="item-container">
    <div class="item-presentation">
        <div class="item-name">{{ menuItem().name }}</div>
        <small class="item-description">{{ menuItem().description }}</small>
    </div>
    <div class="item-order">
        <div class="item-price">{{ menuItem().price }}$</div>
        <app-counter 
            [menuItem]="menuItem()">
        </app-counter>
        <div class="menuItem-buttons">
            <button class="edit" [routerLink]="['/menu-item/edit', menuItem().id]">Edit</button>
            <button class="delete" (click)="deleteMenuItem(menuItem())">Delete</button>
        </div>
    </div>
</div>
