.item-container {
    padding: 10px 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(177, 169, 169);
    border-radius: 10px;

    .item-presentation {

        .item-name {
            font-size: 20px;
        }

        .item-description{
            color: grey;
        }
    }

    .item-order{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
}

.menuItem-buttons{
    display: flex;
    flex-direction: column;
    gap: 5px; 

    .delete, .edit {
        background: transparent;
        border-radius: 8px;
        border: 1px solid rgba(87, 71, 30, 0.1);

        &:hover {
            background: rgba(139, 105, 20, 0.1);
        }
    }
}