<header>
    <nav>
        <span class="appName" routerLink="/">{{ title() }}</span>
        <ul>
            @if(!authService.isLoggedIn()){
                <li routerLink="/user/login">Login</li>
                <li routerLink="/user/register">Register</li>
            }
            @else{
                <li [routerLink]="['/restaurant/create']">Add Restaurant</li>
                <li (click)="logoutUser()">Logout</li>
                <li class="username">{{ authService.user()?.username }}</li>
            }
        </ul>
    </nav>
</header>