@if (project(); as proj) {
  <div class="project" 
    appHighlightCompletedProject
    [isCompleted]="proj.isCompleted"
  >
        <div class="error" *ngIf="completeProjectError">
          {{ completeProjectError }}
        </div>
        <div class="title">{{ proj.name }}</div>
        <div class="description">{{ proj.description }}</div>
        <div class="dates">
            <div class="date-posted">
                <div>Posted on</div>
                <div class="tag-container">
                  {{ proj.createdDate | date:'dd.MM.yyyy' }}
                </div>
            </div>
            <div class="deadline">
                <div>Due to</div>
                <div class="tag-container">
                  {{ proj.deadline | date:'dd.MM.yyyy' }}
                </div>
            </div>
        </div>
        <hr />
  </div>
  <div class="project-buttons">
    @if(!proj.isCompleted)
    {
      <button class="edit"
      [routerLink]="['/project', proj.id, 'edit']"
      >Edit Project</button>

      <button class="add-task"
      [routerLink]="['/task/create', proj.id]"
      >Add task</button>

      <button class="complete" (click)="completeProject(proj)">Complete</button>
    }
    <button class="delete" (click)="deleteProject(proj)">Delete Project</button>
  </div>
  <div class="tasks-container" *ngIf="taskItems().length > 0">
    <div class="tasks-title">Tasks for this project</div>
    <div class="tasks">
      <div class="ongoing-tasks">
      <div class="title">Ongoing tasks:</div>
        <div *ngIf="getOngoingTasks().length > 0">
          @for(task of getOngoingTasks(); track task.id)
          {
            <app-task-item 
            (taskToggled)="completeTaskItem($event)" 
            (taskDeleted)="deleteTaskItem($event)"
            [task]="task"/>
          }
        </div>
        <div class="all-completed" *ngIf="getOngoingTasks().length == 0">
          You've succesfully completed all your tasks!
        </div>
      </div>
      <div class="completed-tasks">
        <div class="title">Completed tasks:</div>
        @for(task of getCompletedTasks(); track task.id)
        {
            <app-task-item 
            [task]="task"/>
        }
      </div>
    </div>
  </div>
  <div class="no-tasks" *ngIf="taskItems().length == 0">
    <div>There are no tasks for this project yet.</div>
  </div>
}