<div class="edit-block">
  <div class="edit-text">Edit task</div>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="title">
      <label for="title">Title:</label>
      <input id="title" formControlName="title" />
    </div>

    <div class="description">
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

    <div class="deadline">
      <label for="deadline">Deadline:</label>
      <input type="date" id="deadline" formControlName="deadline"/>
    </div>

    <button class="edit-button" type="submit" [disabled]="form.invalid">Save changes</button>
  </form>

</div>